/*url('https://fonts.googleapis.com/css?family=Muli&display=swap');*/
/*url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
    font-family: 'herobold';
    src: url('../fonts/hero-bold-webfont.woff2') format('woff2'),
        url('../fonts/hero-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'herolight';
    src: url('../fonts/hero-light-webfont.woff2') format('woff2'),
        url('../fonts/hero-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'heroregular';
    src: url('../fonts/hero-regular-webfont.woff2') format('woff2'),
        url('../fonts/hero-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}